@reference "./app.css";

.hive-prose {
  --nextra-content-width: 1208px;
  --article-max-width: 640px;

  @apply text-green-1000;
  &:not(:where(.light, .light *)) {
    @apply text-white;
  }

  & img {
    @apply rounded-2xl;
  }

  & div:has(> blockquote) {
    @apply bg-beige-100 mt-10 rounded-2xl p-6;
    &:not(:where(.light, .light *)) {
      @apply bg-neutral-800;
    }

    & blockquote {
      @apply text-green-1000 flex gap-6 border-none p-0 not-italic max-sm:flex-col sm:text-xl;
      &:not(:where(.light, .light *)) {
        @apply text-white;
      }

      &::before {
        @apply bg-primary flex size-12 shrink-0 items-center justify-center rounded-2xl pt-2;
        content: url("./quotemark.svg");
      }
    }

    & cite {
      @apply mt-6 flex justify-end gap-3 text-sm not-italic;

      & p {
        @apply mt-0;
      }

      & :nth-child(2) {
        @apply font-medium;
      }
    }
  }

  & li > p {
    @apply mt-2;
  }

  & :is(h2, h3, h4, h5, h6) {
    @apply border-none;
  }
}

@media (max-width: 768px) {
  .hive-prose {
    --article-max-width: calc(100vw - 1rem);
  }
}
